@model IEnumerable<Video.Domain.Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movies</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Movies" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="align-middle">
                    <td>
                        @Html.DisplayFor(modelItem => movie.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => movie.Name)
                    </td>
                    <td>
                        <img src="@movie.ImageUrl" class="img-thumbnail" style="width:64px; height:84px;" />
                    </td>
                    <td>
                        <a class="btn-link mx-2" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id"
                        > <i class="bi bi-trash-fill text-danger" style="font-size: 1.2rem;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>