@model IEnumerable<Video.Domain.Customer>

@{
    ViewData["Title"] = "Customers";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customers</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Customers" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr class="align-middle">
                    <td>
                        @Html.DisplayFor(modelItem => customer.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.LastName)
                    </td>
                    <td>
                        <a class="btn-link mx-2" asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.Id"> <i class="bi bi-trash-fill text-danger" style="font-size: 1.2rem;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>