@using Video.Domain.Entities
@using Video.Domain.Enums
@model IEnumerable<Video.Domain.Entities.Customer>

@{
    ViewData["Title"] = "Customers";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customers</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Customers" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayName("Name")
                </th>
                <th scope="col">
                    @Html.DisplayName("MembershipType")
                </th>                
                <th scope="col">
                    @Html.DisplayName("Discount Rate")
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr class="align-middle">
                    <td>
                        @Html.ActionLink(customer.FirstName +" "+ customer.LastName,"Upsert", "Customers" , new {customer.Id})
                    </td>
                    @foreach (var memberType in MembershipTypes.GetAll<MembershipTypes>())
                    {
                        @if (memberType.Value.Equals(customer.MembershipTypeId))
                        {
                            <td>
                                @Html.DisplayName(memberType.Name)
                            </td>
                            <input asp-for ="@memberType.Name" class="form-control" hidden/>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem =>customer.MembershipType!.DiscountRate)%
                    </td>
                    <td class="text-end">
                        <a class="btn-link mx-2" asp-controller="Customers" asp-action="Delete" asp-route-id="@customer.Id"> <i class="bi bi-trash-fill text-danger" style="font-size: 1.2rem;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>